$brand-grey:         #b8b8b8;
$brand-black:        #484c4f;
$brand-brown:        #7a7250;
$brand-green:        #19737b;
$brand-beige:        #f1f1ed;
$brand-dark:         #353336;
$brand-vdark:        #2d2d2d;
$brand-orange:       #e7802c;
$brand-blue:         #3786c1;
$brand-border:       #d6d2c2;