@import "colours";
@import "fonts";
@import "breakpoints";

form {
    margin: 10px 0 30px 0;
    width: 100%;

    label {
        font-weight: 400;
        display: none;
    }

    .btn-submit {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        background-color: darken($color: $brand-brown, $amount: 15%);
        border-color: darken($color: $brand-brown, $amount: 15%);
        transition: all 250ms;

        &:hover {
            background-color:$brand-brown;
            border-color: $brand-brown;
        }

        @media (min-width: $breakpoint1){
            width: auto;
            padding-right: 20px;
            padding-left: 20px;
        }

        &[disabled]{
            color: white;
            background-color: darken($color: $brand-brown, $amount: 5%);
                border-color: darken($color: $brand-brown, $amount: 5%);
            
            &:hover {
                background-color: darken($color: $brand-brown, $amount: 5%);
                border-color: darken($color: $brand-brown, $amount: 5%);
                cursor: not-allowed;
            }
        }
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="password"],
    textarea {

        &.form-control {
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            height: inherit;
            outline: none;
            font-size: 14px;
        }
    }

    .error-span {
        display: none;
    }

    .error {

        select,
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        input[type="password"],
        textarea {

            &.form-control {
                border: 1px solid #e50000;
            }
        }

        .error-span {
            display: block;
            color: #b70000;
            font-size: 12px;
            padding-top: 2px;
        }
    }

    @media (min-width: $breakpoint2){

        label {
            display: block;
        }

        .form-group {
            textarea, input {
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: white;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: white;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: white;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: white;
                }
            }
        }
    }
}

.form-news {
    padding-bottom: 30px;
    border-bottom: 1px solid lighten($color: $brand-brown, $amount: 40%);
    
    input {
        margin-right: 15px;
    }

    @media (max-width: $breakpoint1){        
    
        input {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}

label {
    line-height: 35px;
}

.form-group {
    margin-bottom: 10px;
}

.form-stripped {

    .row:nth-child(odd) {

        label {
            background: $brand-beige;
        }
    }
}
