@import "colours";
@import "fonts";
@import "utils";
@import "breakpoints";

* {
    outline: none;
    box-sizing: border-box;
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    color: $brand-black;
    font-size: 16px;
    font-family: $bodyFont;
    font-weight: 100;
    background-color: white;
}

h2 {
    font-size: 1.1em;
    margin: 0;
    padding: 0 0  10px 0;
}

p {
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 130%;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.row {
    @media (min-width: $breakpoint1){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


