@import "colours";
@import "fonts";
@import "utils";
@import "breakpoints";

* {
    outline: none;
    box-sizing: border-box;
}

/* elements */
body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    color: $brand-black;
    font-size: 15px;
    font-family: $bodyFont;
    font-weight: 100;
    background-color: white;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0 0 15px 0;
}


p {
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 130%;
}


/* classes */
.container {
    margin: 0 auto;
    max-width: 960px;
}

.col-xs-6 {
    width: 50%;
}

.big-link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.0em;
    padding: 7px 10px;
    background: rgba(0,0,0,0.5);
    border: 1px solid white;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    transition: background 500ms;
    margin: 10px 0;
    white-space: nowrap;

    &:hover {
        background: rgba(0,0,0,0.7);
        text-decoration: none;
        color: white;
    }
}

.title-large {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: $brand-brown;
    border-bottom: 1px solid whitesmoke;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
}
  
.pod {
        text-align: center;

    .text {
        padding: 0 15px;
    }

    a {    
        text-decoration: none;
        color: $brand-black;
        display: block;
    }

    .title {
        text-transform: uppercase;
        color: $brand-green;
        font-size: 1.1em;
        margin: 0;
        padding: 0 0 10px 0;
    }

    p {
        font-size: 0.8em;
    }

    img {
            width: 100%;
            display: inline-block;
            margin-bottom: 15px;
    }
}

.shaker {
    font-size: 11px;
    text-align: center;
    color: #000;
    margin: 5px auto;

    a {
        background: url('../images/sugarshaker.png') no-repeat center left;
        height: 16px;
        margin: 0;
        padding: 5px 0px 5px 21px;
        color: #666;
        font-size: 11px;
        font-weight: normal;
    }
}
