@import "colours";
@import "fonts";
@import "utils";
@import "breakpoints";

* {
    outline: none;
    box-sizing: border-box;
}

/* elements */
body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    color: $brand-black;
    font-size: 14px;
    font-family: $bodyFont;
    font-weight: 500;
    background-color: white;
}

h2 {
    font-size: 38px;
    line-height: 100%;
    font-family: $brandHeader;
}

h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: 700;
}

h4 {
    font-size: 1.0em;
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 130%;

    strong {
        font-weight: 700;
    }
}

a {
    color: $brand-blue;
}

/* classes */
.col-xs-6 {
    width: 50%;
}

.big-link {
    display: inline-block;
    text-transform: uppercase;
    line-height: 100%;
    padding: 8px 12px;
    font-size: 18px;
    background: rgba(45, 45, 45, 0.6);
    border: 1px solid white;
    text-decoration: none;
    color: white;
    transition: background 500ms;
    margin: 10px 0;
    white-space: nowrap;
    font-family: $brandButton;

    &:hover {
        background: rgba(0,0,0,1.0);
        text-decoration: none;
        color: white;
    }
}

.title-large {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: $brand-brown;
    border-bottom: 1px solid #f1f1ed;
    padding: 10px 0 15px 0;
    margin: 0 0 15px 0;
    font-weight: 400;

    @media (max-width: $breakpoint1){
        font-size: 32px;
    }
}

.title-small {    
    text-transform: uppercase;
    color: $brand-green;
    font-size: 18px;
    margin: 0;
    padding: 0 0 10px 0;
}

.heading {

    .title-large {
        text-align: center;
        border-bottom: none;
        border-top: 1px solid $brand-brown;
        padding-top: 25px;
    }
}

.pod {
    text-align: center;

    .text {
        padding: 0 15px;
    }

    a {    
        text-decoration: none;
        color: $brand-black;
        display: block;
    }

    .title {
        text-transform: uppercase;
        color: $brand-green;
        font-size: 18px;
        margin: 0;
        padding: 0 0 6px 0;
    }

    img {
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
    }

    &.news {

        @media (max-width: $breakpoint2){

            p {
                padding-bottom: 10px;
                border-bottom: 1px solid lighten($color: $brand-brown, $amount: 40%);
                margin-bottom: 15px;
            }
        }
    }


    .date {

        a {
            font-weight: bold;
        }
    }
}

.pod {

    a {   

      > img {
        transition: all 250ms;
      }
  
      &:hover {   

        img {
            opacity: 0.6;
        }
      }
    }
  }

.feed-item {

    .pod {
        text-align: left;

        .text {
            padding: 0;

            p {
                padding: 0;
            }
        }
    }

    .location, .date {
        font-weight: bold;
    }

    .date {
        color: $brand-blue;
    }

    &:hover {
        
        .date {
            color: #0056b3;
        }
    }
}

table {

    th {
        text-transform: uppercase;
    }

    th, td {
        white-space: nowrap;
        padding-right: 30px !important;
        font-size: 14px;
        text-align: center;
        border-right: 1px solid white;

        &:first-child {
            text-align: left;
        }
    }

    @media (max-width: $breakpoint1){

        th, td {
            padding: 0.3em 20px 0.3em 0.3em !important;
        }
    }

    td {

        span {
            display: inline-block;
            text-indent: -9000px;
            background-color: $brand-orange;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-top: 3px;
        }
    }
}

#nav-main {
    font-family: $brandButton !important;
}

.divider {
    margin: 0;
}

.filter-list {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;

    .active {
        color: $brand-dark;
        cursor: default;

        &:hover {
            text-decoration: none;
        }
    }
}



/* bootstrap overrides */
.table thead th,
.table td, .table th {
    border-color: white !important
}

.table.table-striped tbody tr:nth-of-type(odd) {
    background-color: $brand-beige !important;
}

.form-control,
.btn {
    border-radius: 1px !important;
}

img {

    &.responsive {
        width: 100%;
        margin-bottom: 15px;
    }
}

.container {
    .heading {
        margin-top: 30px;
    }
}

ol, ul {
    margin-left: 0;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}










/* ================================================================== */
.shaker {
    font-size: 11px;
    text-align: center;
    color: #bebebe;
    margin: 0 auto;
    background-color: black;
    padding: 5px 0;
    transition: all 250ms;

    a {
        background: url('../images/sugarshaker.png') no-repeat center left;
        height: 16px;
        margin: 0;
        padding: 5px 0px 5px 21px;
        color: #bebebe;
        font-size: 11px;
        font-weight: normal;
        transition: all 500ms;
    }

    &:hover {
        color: whitesmoke;

        a {
            color: whitesmoke;
            text-decoration: underline;
        }
    }
}

.font-two {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
