@import "colours";
@import "fonts";
@import "utils";
@import "breakpoints";

* {
    outline: none;
    box-sizing: border-box;
}

/* elements */
body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    color: $brand-black;
    font-size: 15px;
    font-family: $bodyFont;
    font-weight: 100;
    background-color: white;
}

h2 {
    font-size: 38px;
    line-height: 100%;
    font-family: $brandHeader;
}

h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 130%;

    strong {
        font-weight: 700;
    }
}

/* classes */
.col-xs-6 {
    width: 50%;
}

.highlight {
    font-weight: 500;
    color: $brand-blue;
}

.big-link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    padding: 8px 12px 6px 12px;
    background: rgba(0,0,0,0.6);
    border: 1px solid white;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    transition: background 500ms;
    margin: 10px 0;
    white-space: nowrap;
    font-family: $brandButton;

    &:hover {
        background: rgba(0,0,0,1.0);
        text-decoration: none;
        color: white;
    }
}

.title-large {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: $brand-brown;
    border-bottom: 1px solid #f1f1ed;
    padding: 10px 0 15px 0;
    margin: 0 0 25px 0;
    font-weight: 500;

    @media (max-width: $breakpoint1){
        font-size: 32px;
    }
}

.heading {

    .title-large {
        text-align: center;
        border-bottom: none;
        border-top: 1px solid $brand-brown;
        padding-top: 25px;
    }
}
  
.pod {
    text-align: center;

    .text {
        padding: 0 15px;
    }

    a {    
        text-decoration: none;
        color: $brand-black;
        display: block;
    }

    .title {
        text-transform: uppercase;
        color: $brand-green;
        font-size: 1.1em;
        margin: 0;
        padding: 0 0 10px 0;
    }

    img {
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
    }

    &.news {
        @media (max-width: $breakpoint1){
            p {
                padding-bottom: 10px;
                border-bottom: 1px solid lighten($color: $brand-brown, $amount: 40%);
                margin-bottom: 15px;
            }
        }
    }
}

.feed-item {

    .pod {
        text-align: left;

        .text {
            padding: 0;

            p {
                padding: 0;
                font-size: 0.85em;
            }
        }
    }

    .location, .date {
        font-weight: bold;
    }

    .date {
        color: $brand-green;
    }
}

.shaker {
    font-size: 11px;
    text-align: center;
    color: #666;
    margin: 0 auto;
    background-color: black;
    padding: 5px 0;

    a {
        background: url('../images/sugarshaker.png') no-repeat center left;
        height: 16px;
        margin: 0;
        padding: 5px 0px 5px 21px;
        color: #666;
        font-size: 11px;
        font-weight: normal;
    }
}

table {

    th {
        text-transform: uppercase;
    }

    th, td {
        white-space: nowrap;
        padding-right: 30px !important;
        font-size: 0.9em;
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }

    @media (max-width: $breakpoint1){

        th, td {
            padding: 0.3em 20px 0.3em 0.3em !important;
        }
    }

    td {

        span {
            display: inline-block;
            text-indent: -9000px;
            background-color: $brand-orange;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-top: 3px;
        }
    }
}

#nav-main {
    font-family: $brandButton !important;
}
