@import "colours";
@import "fonts";
@import "utils";

* {
    outline: none;
    box-sizing: border-box;
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    color: $brand-black;
    font-size: 16px;
    font-family: $bodyFont;
    font-weight: 100;
    background-color: white;
}

p {
    margin: 0;
    padding: 0 0 15px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


