@import "colours";
@import "furniture";
@import "mixins";
@import "form";
@import "breakpoints";

.home-link {

  img {
    width: 271px;
    transition: all 250ms;

    @media (max-width: $breakpoint2){
      width: 200px;
    }
  }
}

.navs {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
}

.nav-social {
  margin: 15px 15px 0 0;

  a {
    background-color: $brand-grey;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms;

    &:hover {
      background-color: darken($brand-grey, 50%);
    }
  }
}
