@import "colours";
@import "furniture";
@import "mixins";
@import "form";
@import "breakpoints";

.home-link {

  img {
    width: 271px;
    transition: all 250ms;

    @media (max-width: $breakpoint1){
      width: 200px;
    }
  }
}

.slogan-animated {
  margin-top: -5px;
  color: $brand-green;
  
  .top {
    font-size: 2.0em;
    font-weight: bold;
    text-align: right;
  }

  P {
    padding: 0;
  }

  .bottom {
    font-size: 0.8em;
  }
  
  @media (max-width: $breakpoint1){
    display: none;
  }
}

.navs {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: -10px;
}

.navigation {
  text-align: right;
}

.nav-social {
  margin: 18px 12px 0 0;
  @media (max-width: $breakpoint1){
    display: none;
  }

  a {
    background-color: $brand-grey;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms;

    &:hover {
      background-color: darken($brand-grey, 50%);
    }
  }
}

.stage {
  height: 334px;
  position: relative;
}

.cloak {
  background: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide {
  position: relative;
  height: 354px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-position: center center;

  @media (max-width: $breakpoint1){
    height: 280px;
  }

  a {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    background: red;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}

