@import "colours";
@import "furniture";
@import "mixins";
@import "form";
@import "breakpoints";


#header {
  padding: 15px;

  .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}

.home-link {

  img {
    width: 271px;
    transition: all 250ms;

    @media (max-width: $breakpoint1){
      width: 200px;
    }
  }
}

.slogan-animated {
  margin-top: -5px;
  color: $brand-brown;
  
  .top {
    font-size: 2.0em;
    font-weight: bold;
    text-align: right;
  }

  P {
    padding: 0;
  }

  .bottom {
    font-size: 0.8em;
  }
  
  @media (max-width: $breakpoint1){
    display: none;
  }
}

.navs {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: -10px;
}

.navigation {
  text-align: right;
}

.nav-social {
  margin: 18px 12px 0 0;

  a {
    background-color: $brand-grey;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms;

    &:hover {
      background-color: darken($brand-grey, 50%);
    }
  }

  @media (max-width: $breakpoint1){
    display: none;
  }
}

#carousel-main {
  margin-bottom: 60px;
  @media (max-width: $breakpoint1){
    margin-bottom: 20px;
  }
}

.stage {
  height: 334px;
  position: relative;
  transition: background 500ms;

  @media (max-width: $breakpoint1){
    height: 280px;
    margin-bottom: 20px;
  }
}

.cloak {
  background: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide {
  position: relative;
  height: 354px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  transition: background 250ms;

  @media (max-width: $breakpoint1){
    height: 280px;
  }

  > a {
    position: absolute;
    top: 40%;
    width: 18px;
    height: 48px;
    color: white;
    font-size: 3.0em;
    text-shadow: 0 0 6px rgba(0,0,0,0.35);
    transition: all 250ms;
    z-index: 5;
    overflow: hidden;
  
    @media (max-width: $breakpoint1){
      top: auto;
      bottom: 50px;
    }

    &:hover {
      color: $brand-grey;
    }

    &.prev {
      left: 15px;
    }

    &.next {
      right: 15px;
      text-align: right;
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    .text {
      display: block;
      color: white;
      font-weight: bold;
      font-size: 3.0em;
      text-shadow: 0 0 6px rgba(0,0,0,0.90);

      @media (max-width: $breakpoint1){
        font-size: 2.0em;
      }
    }

    a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.2em;
      padding: 8px 10px;
      background: rgba(0,0,0,0.35);
      border: 1px solid white;
      text-decoration: none;
      color: white;
      border-radius: 2px;
      transition: background 500ms;
      margin: 40px 0 90px 0;

      &:hover {
        background: rgba(0,0,0,0.7);
      }

      @media (max-width: $breakpoint1){
        margin: 18px 0 120px 0;
      }
    }
    
  }
}

// for carousel
#carousel-main {
  .items {
    display: none;
  }
}

.news-item {  
  padding: 0 15px;
  width: 33.33333%;

  @media (max-width: $breakpoint1){
    width: 100%;
  }
}

.pod {
  text-align: center;

  .text {
    padding: 0 15px;
  }

  a {    
    text-decoration: none;
    color: $brand-black;
  }

  .title {
    text-transform: uppercase;
    color: $brand-green;
  }

  p {
    font-size: 0.8em;
  }

  img {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
  }
}

.introduction {
  background: url('images/bg-introduction.png') bottom center no-repeat $brand-beige;
  margin: 30px 0;
  padding: 30px 15px 0;
}

#carousel-mini, #profile {
  width: 300px;
  min-height: 260px;
  margin: 0 auto;

  @media (max-width: $breakpoint1){
    width: 280px;
  }
}

#carousel-mini {
  position: relative;

  .controls {
    position: absolute;
    top: 40%;
    display: inline-block;
    font-size: 2.0em;
    color: $brand-brown;
    
    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
      text-align: right;
    }
  }
  
  .slide {
    width: 300px;
    text-align: center;

    img {
      max-width: 70%;
      margin: 50px 0;
    }

    .text {
      font-size: 0.9em;
      padding: 0 40px;
    }
  }

  .pagination {
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: 20px;
    text-align: center;

    span {
      border: 1px solid $brand-brown;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 50%;
      display: inline-block;
      transition: background 500ms;

      &.active {
        background: $brand-brown;
      }
    }
  }
}
