@import "colours";
@import "furniture";
@import "mixins";
@import "form";
@import "breakpoints";


.logo-link {

  img {
    width: 271px;
    transition: all 250ms;

    @media (max-width: $breakpoint1){
      width: 200px;
    }
  }
  padding: 15px 0;
}

.slogan-animated {
  margin-top: -5px;
  color: $brand-brown;
  
  .top {
    font-size: 2.0em;
    font-weight: bold;
    text-align: right;
  }

  P {
    padding: 0;
  }

  .bottom {
    font-size: 0.8em;
  }
  
  @media (max-width: $breakpoint1){
    display: none;
  }
}

.navs {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: -10px;
}

.navigation {
  text-align: right;
}

.nav-social {
  margin: 18px 12px 0 0;

  a {
    background-color: $brand-grey;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms;

    &:hover {
      background-color: darken($brand-grey, 50%);
    }
  }

  @media (max-width: $breakpoint1){
    display: none;
  }
}

#carousel-main {
  margin-bottom: 60px;
  @media (max-width: $breakpoint1){
    margin-bottom: 20px;
  }
}

.stage {
  height: 334px;
  position: relative;
  transition: background 500ms;

  @media (max-width: $breakpoint1){
    height: 280px;
    margin-bottom: 20px;
  }
}

.cloak {
  background: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide {
  position: relative;
  height: 354px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  transition: background 250ms;

  @media (max-width: $breakpoint1){
    height: 280px;
  }

  > a {
    position: absolute;
    top: 40%;
    width: 18px;
    height: 48px;
    color: white;
    font-size: 3.0em;
    text-shadow: 0 0 6px rgba(0,0,0,0.35);
    transition: all 250ms;
    z-index: 5;
  
    @media (max-width: $breakpoint1){
      top: auto;
      bottom: 50px;
    }

    &:hover {
      color: $brand-grey;
    }

    &.prev {
      left: 15px;
    }

    &.next {
      right: 15px;
      text-align: right;
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    .text {
      display: block;
      color: white;
      font-weight: bold;
      font-size: 3.0em;
      text-shadow: 0 0 6px rgba(0,0,0,0.90);

      @media (max-width: $breakpoint1){
        font-size: 2.0em;
      }
    }      
  }
}


.slide .content a {
  margin: 40px 0 90px 0;
}
@media (max-width: $breakpoint1){
    .slide .content a {
    margin: 18px 0 120px 0;
  }
}

// for carousel
#carousel-main {
  .items {
    display: none;
  }
}


.introduction {
  background: url('../images/bg-introduction.png') bottom center no-repeat $brand-beige;
  margin: 30px 0;
  padding: 30px 15px 0;

  @media (max-width: $breakpoint1){
    padding-bottom: 60px;
  }
}

#carousel-mini, #profile {
  max-width: 300px;
  min-height: 260px;
  margin: 0 auto;
}

#carousel-mini {
  position: relative;

  .controls {
    position: absolute;
    top: 40%;
    display: inline-block;
    font-size: 2.0em;
    color: $brand-brown;
    
    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
      text-align: right;
    }
  }
  
  .slide {
    max-width: 300px;
    text-align: center;

    img {
      margin: 45px 0;
      max-width: 80%;

      @media (max-width: $breakpoint1){
        margin: 20px 0;
      }
    }

    .text {
      font-size: 0.9em;
      padding: 0 40px;
    }
  }

  .dots {
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 20px;
    text-align: center;

    span {
      border: 1px solid $brand-brown;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 50%;
      display: inline-block;
      transition: background 500ms;

      &.active {
        background: $brand-brown;
      }
    }

    @media (max-width: $breakpoint1){
      bottom: 20px;
    }
  }
}

.footer {
  background-color: $brand-dark;
  color: white;

  a {
    color: white;
  }

  .nav-footer {
    padding: 15px;
    position: relative;

    ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: right
    }

    li {
      display: inline-block;
      border-right: 1px solid lighten($color: $brand-dark, $amount: 10%);
      padding: 4px 6px;

      &:nth-last-child(1){
        border: none;
        padding-right: 0;

        a {
          padding-right: 0;
        }
      }

      a {
        display: inline-block;
        padding: 6px 12px;
        text-decoration: none;
        font-size: 0.8em;
        line-height: 100%;
      }
    }

    .nav-trigger {
      position: absolute;
      top: 5px;
      right: 10px;
      overflow: hidden;
      display: none;
    }
  }
}


@media (max-width: $breakpoint1){

  .nav-footer {

    ul {
      display: none;
      width: 120px;
      text-align: center !important;

      li {
        display: block !important;
        border-right: 0 !important;
        border-bottom: 1px solid lighten($color: $brand-dark, $amount: 10%);
        padding: 8px;
        text-align: center;

        a {
          padding: 8px 12px !important;
        }

        &:nth-last-child(1){
          border: none;
          padding: 4px 6px;

          a {
            padding: 8px 12px !important;
          }
        }
      }
    }

    &.mm-wrapper_opened {

      ul {
        display: block;
      }
    }

    .nav-trigger {
      display: block !important;
    }
  }
}

.tap-details {
  padding-bottom: 30px;

  a {
    display: inline-block;
  }

  .logo {
    text-align: center;
    padding: 0 15px;

    img {
      display: block;
      margin: 0 auto 10px;
    }
  }

  .address {
    text-align: center;

    .links {
      padding: 0 15px;
      a {
        display: inline-block;
      }
    }

    .text {
      font-size: 0.8em;
      padding: 15px;
    }
  }
}

@media (min-width: $breakpoint1){
  .tap-details {
    display: flex;
    justify-content: space-between;

    .address {
      text-align: right;
    }
  }
}

.two-by-two {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin-bottom: 30px;

  > a {
      position: absolute;
      display: block;
      width: 50%;
      height: 50%;
      background-position: center center;
      background-size: cover;
      text-decoration: none;
      background-color: red;      

      &:first-child {
          top: 0;
          left: 0;
          border-bottom: 2px solid white;
          border-right: 2px solid white;
      }

      &:nth-last-child(1){
          bottom: 0;
          right: 0;
          border-top: 2px solid white;
          border-left: 2px solid white;
      }

      &:nth-last-child(2){
          top: 0;
          right: 0;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
      }

      &:nth-last-child(3){
          bottom: 0;
          left: 0;
          border-top: 2px solid white;
          border-right: 2px solid white;
      }

      &:hover {
          text-decoration: none;
      }

      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 12px;
        width: 24px;
        height: 24px;
        background: url('../images/logo-instagram.png') top left no-repeat;
        background-size: contain;
        opacity: 0.6;
      }
  }
}