@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.display-none {
  display: none; }

* {
  outline: none;
  box-sizing: border-box; }

/* elements */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  color: #484c4f;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  background-color: white; }

h2 {
  font-size: 38px;
  line-height: 100%; }

h3 {
  font-size: 1.2em;
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 700; }

p {
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 130%; }
  p strong {
    font-weight: 700; }

/* classes */
.col-xs-6 {
  width: 50%; }

.big-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.0em;
  padding: 7px 10px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  transition: background 500ms;
  margin: 10px 0;
  white-space: nowrap; }
  .big-link:hover {
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: white; }

.title-large {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #7a7250;
  border-bottom: 1px solid whitesmoke;
  padding: 10px 0 15px 0;
  margin: 0 0 25px 0;
  font-weight: 500; }
  @media (max-width: 576px) {
    .title-large {
      font-size: 2.0em; } }

.heading .title-large {
  text-align: center;
  border-bottom: none;
  border-top: 1px solid #7a7250;
  padding-top: 25px; }

.pod {
  text-align: center; }
  .pod .text {
    padding: 0 15px; }
  .pod a {
    text-decoration: none;
    color: #484c4f;
    display: block; }
  .pod .title {
    text-transform: uppercase;
    color: #19737b;
    font-size: 1.1em;
    margin: 0;
    padding: 0 0 10px 0; }
  .pod img {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px; }
  @media (max-width: 576px) {
    .pod.news p {
      padding-bottom: 10px;
      border-bottom: 1px solid #d6d2c0;
      margin-bottom: 15px; } }

.feed-item .pod {
  text-align: left; }
  .feed-item .pod .text {
    padding: 0; }
    .feed-item .pod .text p {
      padding: 0;
      font-size: 0.85em; }

.feed-item .location, .feed-item .date {
  font-weight: bold; }

.feed-item .date {
  color: #19737b; }

.shaker {
  font-size: 11px;
  text-align: center;
  color: #000;
  margin: 5px auto; }
  .shaker a {
    background: url("../images/sugarshaker.png") no-repeat center left;
    height: 16px;
    margin: 0;
    padding: 5px 0px 5px 21px;
    color: #666;
    font-size: 11px;
    font-weight: normal; }

table th {
  text-transform: uppercase; }

table th, table td {
  white-space: nowrap;
  padding-right: 30px !important;
  font-size: 0.9em;
  text-align: center; }
  table th:first-child, table td:first-child {
    text-align: left; }

@media (max-width: 576px) {
  table th, table td {
    padding: 0.3em 20px 0.3em 0.3em !important; } }

table td span {
  display: inline-block;
  text-indent: -9000px;
  background-color: #e7802c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 3px; }

form {
  margin: 10px 0 50px 0;
  width: 100%; }
  form label {
    font-weight: 400;
    display: none; }
  form .btn-submit {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #4c4732;
    border-color: #4c4732;
    transition: all 250ms; }
    form .btn-submit:hover {
      background-color: #7a7250;
      border-color: #7a7250; }
    @media (min-width: 576px) {
      form .btn-submit {
        width: auto;
        padding-right: 20px;
        padding-left: 20px; } }
  form select.form-control,
  form input[type="text"].form-control,
  form input[type="email"].form-control,
  form input[type="tel"].form-control,
  form input[type="number"].form-control,
  form input[type="password"].form-control,
  form textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    font-size: 14px; }
  form .error-span {
    display: none; }
  form .error select.form-control,
  form .error input[type="text"].form-control,
  form .error input[type="email"].form-control,
  form .error input[type="tel"].form-control,
  form .error input[type="number"].form-control,
  form .error input[type="password"].form-control,
  form .error textarea.form-control {
    border: 1px solid #e50000; }
  form .error .error-span {
    display: block;
    color: #b70000;
    font-size: 14px; }
  @media (min-width: 576px) {
    form label {
      display: block; }
    form .form-group textarea::-webkit-input-placeholder, form .form-group input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    form .form-group textarea::-moz-placeholder, form .form-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: white; }
    form .form-group textarea:-ms-input-placeholder, form .form-group input:-ms-input-placeholder {
      /* IE 10+ */
      color: white; }
    form .form-group textarea:-moz-placeholder, form .form-group input:-moz-placeholder {
      /* Firefox 18- */
      color: white; } }

.logo-link {
  padding: 10px 0 15px 0; }
  .logo-link a {
    display: inline-block; }
  .logo-link img {
    width: 271px;
    transition: all 250ms;
    margin-top: -5px; }
    @media (max-width: 576px) {
      .logo-link img {
        width: 200px; } }

.slogan-animated {
  margin-top: -5px;
  color: #7a7250; }
  .slogan-animated .top {
    font-size: 2.0em;
    font-weight: bold;
    text-align: right; }
  .slogan-animated P {
    padding: 0; }
  .slogan-animated .bottom {
    font-size: 0.8em; }
  @media (max-width: 576px) {
    .slogan-animated {
      display: none; } }

.navs {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: -10px; }

.navigation {
  text-align: right; }

.nav-social {
  margin: 18px 10px 0 0; }
  .nav-social a {
    background-color: #b8b8b8;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms; }
    .nav-social a:hover {
      background-color: #393939; }
  @media (max-width: 576px) {
    .nav-social {
      display: none; } }

.nav-trigger {
  transition: color 250ms; }
  .nav-trigger:hover {
    color: #353336; }

#carousel-main, .page-header {
  margin-bottom: 30px; }
  @media (max-width: 576px) {
    #carousel-main, .page-header {
      margin-bottom: 20px; } }
  #carousel-main .stage, .page-header .stage {
    height: 385px;
    position: relative;
    transition: background 500ms; }
    @media (max-width: 576px) {
      #carousel-main .stage, .page-header .stage {
        height: 300px;
        margin-bottom: 30px; } }
  #carousel-main .cloak, .page-header .cloak {
    background: white;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  #carousel-main .slide, .page-header .slide {
    position: relative;
    height: 385px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    transition: background 250ms; }
    @media (max-width: 576px) {
      #carousel-main .slide, .page-header .slide {
        height: 300px; } }
    #carousel-main .slide > a, .page-header .slide > a {
      position: absolute;
      top: 40%;
      width: 18px;
      height: 48px;
      color: white;
      font-size: 3.0em;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
      transition: all 250ms;
      z-index: 5; }
      @media (max-width: 576px) {
        #carousel-main .slide > a, .page-header .slide > a {
          top: auto;
          bottom: 50px; } }
      #carousel-main .slide > a:hover, .page-header .slide > a:hover {
        color: #b8b8b8; }
      #carousel-main .slide > a.prev, .page-header .slide > a.prev {
        left: 15px; }
      #carousel-main .slide > a.next, .page-header .slide > a.next {
        right: 15px;
        text-align: right; }
    #carousel-main .slide .content, .page-header .slide .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center; }
      #carousel-main .slide .content .text, .page-header .slide .content .text {
        display: block;
        color: white;
        font-weight: bold;
        font-size: 3.0em;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.9); }
        @media (max-width: 576px) {
          #carousel-main .slide .content .text, .page-header .slide .content .text {
            font-size: 2.0em; } }

#carousel-main .slide .content a {
  margin: 40px 0 130px 0; }

@media (max-width: 576px) {
  #carousel-main .slide .content a {
    margin: 18px 0 120px 0; } }

.page-header {
  margin-bottom: 30px; }
  .page-header .stage {
    height: 308px; }
    .page-header .stage .slide {
      height: 308px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .page-header .stage .slide .shout {
        font-size: 4.2rem;
        color: white;
        font-weight: 500;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.9); }
        .page-header .stage .slide .shout .font-two {
          font-family: 'Times New Roman', Times, serif;
          font-style: italic; }
        .page-header .stage .slide .shout .text {
          display: inline-block;
          padding-right: 30px; }
        .page-header .stage .slide .shout .logo img {
          max-width: 140px; }
      @media (max-width: 576px) {
        .page-header .stage .slide .shout {
          font-size: 2.8rem;
          text-align: center;
          line-height: 120%; }
          .page-header .stage .slide .shout .text {
            padding-right: 0;
            padding-bottom: 15px; }
          .page-header .stage .slide .shout .font-two {
            display: block; }
          .page-header .stage .slide .shout .logo {
            display: block; }
            .page-header .stage .slide .shout .logo img {
              max-width: 70px; } }
  @media (max-width: 576px) {
    .page-header {
      margin-bottom: 40px; } }

#carousel-main .items {
  display: none; }

.introduction {
  background-color: #f1f1ed; }
  @media (min-width: 576px) {
    .introduction {
      margin: 15px 0;
      padding: 30px 15px 0;
      background: url("../images/bg-introduction.png") bottom center no-repeat, url("../images/bg-introduction.gif") top center repeat-y #f1f1ed; } }

#profile {
  max-width: 350px;
  margin: 0 auto;
  padding-bottom: 10px; }

#carousel-mini {
  max-width: 350px;
  min-height: 350px;
  margin: 0 auto;
  position: relative;
  min-height: 330px; }
  #carousel-mini .controls {
    position: absolute;
    top: 40%;
    display: inline-block;
    font-size: 2.0em;
    color: #7a7250; }
    #carousel-mini .controls.prev {
      left: 0; }
    #carousel-mini .controls.next {
      right: 0;
      text-align: right; }
  #carousel-mini .slide {
    max-width: 350px;
    text-align: center;
    min-height: 330px; }
    #carousel-mini .slide img {
      margin: 45px 0 30px 0;
      max-width: 80%; }
    #carousel-mini .slide .text {
      font-size: 0.9em;
      padding: 0 40px; }
  #carousel-mini .dots {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 20px;
    text-align: center; }
    #carousel-mini .dots span {
      border: 1px solid #7a7250;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 50%;
      display: inline-block;
      transition: background 500ms; }
      #carousel-mini .dots span.active {
        background: #7a7250; }
  @media (max-width: 576px) {
    #carousel-mini {
      min-height: 300px; }
      #carousel-mini .dots {
        bottom: 30px; }
      #carousel-mini .slide {
        min-height: 300px; } }

.two-by-two {
  position: relative;
  width: 100%;
  min-height: 300px; }
  .two-by-two > a {
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    background-position: center center;
    background-size: cover;
    text-decoration: none; }
    .two-by-two > a:first-child {
      top: 0;
      left: 0;
      border-bottom: 3px solid white;
      border-right: 3px solid white; }
    .two-by-two > a:nth-last-child(1) {
      bottom: 0;
      right: 0;
      border-top: 3px solid white;
      border-left: 3px solid white; }
    .two-by-two > a:nth-last-child(2) {
      top: 0;
      right: 0;
      border-bottom: 3px solid white;
      border-left: 3px solid white; }
    .two-by-two > a:nth-last-child(3) {
      bottom: 0;
      left: 0;
      border-top: 3px solid white;
      border-right: 3px solid white; }
    .two-by-two > a:hover {
      text-decoration: none; }
    .two-by-two > a:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 12px;
      width: 24px;
      height: 24px;
      background: url("../images/logo-instagram.png") top left no-repeat;
      background-size: contain;
      opacity: 0.6; }

.feed-item {
  overflow: hidden;
  margin-top: 15px; }
  @media (max-width: 576px) {
    .feed-item {
      margin-bottom: 15px; } }

iframe {
  width: 100%;
  height: 300px;
  border: 0;
  overflow: hidden; }

.footer {
  background-color: #353336;
  color: white; }
  @media (min-width: 576px) {
    .footer {
      margin-top: 30px; } }
  .footer a {
    color: white; }
  .footer .nav-footer {
    padding: 15px;
    position: relative; }
    .footer .nav-footer ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: right; }
    .footer .nav-footer li {
      display: inline-block;
      border-right: 1px solid #4f4c50;
      padding: 4px 6px; }
      .footer .nav-footer li:nth-last-child(1) {
        border: none;
        padding-right: 0; }
        .footer .nav-footer li:nth-last-child(1) a {
          padding-right: 0; }
      .footer .nav-footer li a {
        display: inline-block;
        padding: 6px 12px;
        text-decoration: none;
        font-size: 0.85em;
        line-height: 100%; }
    .footer .nav-footer .nav-trigger {
      position: absolute;
      top: 5px;
      right: 10px;
      overflow: hidden;
      display: none;
      z-index: 10;
      color: white; }

@media (max-width: 576px) {
  .nav-footer ul {
    display: none;
    width: 120px;
    text-align: center !important; }
    .nav-footer ul li {
      display: block !important;
      border-right: 0 !important;
      border-bottom: 1px solid #4f4c50;
      padding: 8px;
      text-align: center; }
      .nav-footer ul li a {
        padding: 8px 12px !important; }
      .nav-footer ul li:nth-last-child(1) {
        border: none;
        padding: 4px 6px; }
        .nav-footer ul li:nth-last-child(1) a {
          padding: 8px 12px !important; }
  .nav-footer.mm-wrapper_opened ul {
    display: block; }
  .nav-footer .nav-trigger {
    display: block !important; } }

.footer .logo {
  text-align: center;
  padding: 0 15px; }
  .footer .logo a {
    display: inline-block; }
  .footer .logo img {
    display: block;
    margin: 0 auto 10px; }

.footer .address {
  text-align: right; }
  .footer .address .links {
    padding: 0 15px; }
    .footer .address .links a {
      display: inline-block; }
  .footer .address .text {
    font-size: 0.8em;
    padding: 15px; }
  @media (max-width: 576px) {
    .footer .address {
      text-align: center; } }

@media (min-width: 576px) {
  .footer-links {
    display: flex;
    justify-content: space-between; } }

.map-iframe {
  margin-bottom: 20px; }

.masters-category img {
  display: block;
  margin-bottom: 30px; }
  @media (min-width: 576px) and (max-width: 960px) {
    .masters-category img {
      width: 100%; } }

@media (max-width: 576px) {
  .masters-category {
    border-bottom: 1px solid #cecccf;
    margin-bottom: 15px; }
    .masters-category .title {
      margin-bottom: 10px; }
    .masters-category img {
      margin-bottom: 15px; } }
