@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
* {
  outline: none;
  box-sizing: border-box; }

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  color: #262825;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  background-color: white; }

p {
  margin: 0;
  padding: 0 0 15px 0; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px; }

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

form {
  margin: 10px 0;
  width: 100%; }
  form .form-row {
    margin-bottom: 20px; }
  form label {
    font-size: 16px;
    display: block;
    padding-bottom: 5px;
    font-weight: 400; }
    form label span {
      color: white; }
  form .placeholder {
    display: none; }
  form select.form-control,
  form input[type="text"].form-control,
  form input[type="email"].form-control,
  form input[type="tel"].form-control,
  form input[type="number"].form-control,
  form input[type="password"].form-control,
  form textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    resize: none;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px; }
  form textarea.form-control {
    width: 100%;
    height: 180px; }
  form select.form-control {
    background: url("../images/bg-select.png") right center no-repeat;
    padding-right: 30px; }
  form .form-check,
  form .form-radio {
    position: relative;
    padding-left: 32px;
    padding-bottom: 10px; }
    form .form-check input[type="checkbox"],
    form .form-check input[type="radio"],
    form .form-radio input[type="checkbox"],
    form .form-radio input[type="radio"] {
      display: inline;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      transform: scale(1.2); }
      form .form-check input[type="checkbox"] + label,
      form .form-check input[type="radio"] + label,
      form .form-radio input[type="checkbox"] + label,
      form .form-radio input[type="radio"] + label {
        display: inline;
        line-height: 20px;
        cursor: pointer; }
  form .error-span {
    display: none; }
  form .error select.form-control,
  form .error input[type="text"].form-control,
  form .error input[type="email"].form-control,
  form .error input[type="tel"].form-control,
  form .error input[type="number"].form-control,
  form .error input[type="password"].form-control,
  form .error textarea.form-control {
    border: 1px solid #e50000; }
  form .error .error-span {
    display: block;
    color: #b70000;
    font-size: 14px; }
  @media (min-width: 960px) {
    form {
      width: 440px;
      margin: 0 auto; }
      form .placeholder {
        display: block; }
      form .form-row textarea::-webkit-input-placeholder, form .form-row input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #f5f5f5; }
      form .form-row textarea::-moz-placeholder, form .form-row input::-moz-placeholder {
        /* Firefox 19+ */
        color: #f5f5f5; }
      form .form-row textarea:-ms-input-placeholder, form .form-row input:-ms-input-placeholder {
        /* IE 10+ */
        color: #f5f5f5; }
      form .form-row textarea:-moz-placeholder, form .form-row input:-moz-placeholder {
        /* Firefox 18- */
        color: #f5f5f5; }
      form .form-check input[type="checkbox"],
      form .form-check input[type="radio"],
      form .form-radio input[type="checkbox"],
      form .form-radio input[type="radio"] {
        transform: scale(1.3);
        margin-top: 0; } }

.home-link img {
  width: 271px;
  transition: all 250ms; }
  @media (max-width: 576px) {
    .home-link img {
      width: 200px; } }

.navs {
  display: flex;
  align-content: flex-end;
  flex-direction: row; }

.nav-social {
  margin: 15px 15px 0 0; }
  @media (max-width: 576px) {
    .nav-social {
      display: none; } }
  .nav-social a {
    background-color: #b8b8b8;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms; }
    .nav-social a:hover {
      background-color: #393939; }
