@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.display-none {
  display: none; }

* {
  outline: none;
  box-sizing: border-box; }

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  color: #484c4f;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  background-color: white; }

h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0 0  10px 0; }

p {
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 130%; }

.container {
  margin: 0 auto;
  max-width: 960px; }

@media (min-width: 576px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

form {
  margin: 10px 0;
  width: 100%; }
  form .form-row {
    margin-bottom: 20px; }
  form label {
    font-size: 16px;
    display: block;
    padding-bottom: 5px;
    font-weight: 400; }
    form label span {
      color: white; }
  form .placeholder {
    display: none; }
  form select.form-control,
  form input[type="text"].form-control,
  form input[type="email"].form-control,
  form input[type="tel"].form-control,
  form input[type="number"].form-control,
  form input[type="password"].form-control,
  form textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    background: #b8b8b8;
    border: 1px solid #b8b8b8;
    resize: none;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px; }
  form textarea.form-control {
    width: 100%;
    height: 180px; }
  form select.form-control {
    background: url("../images/bg-select.png") right center no-repeat;
    padding-right: 30px; }
  form .form-check,
  form .form-radio {
    position: relative;
    padding-left: 32px;
    padding-bottom: 10px; }
    form .form-check input[type="checkbox"],
    form .form-check input[type="radio"],
    form .form-radio input[type="checkbox"],
    form .form-radio input[type="radio"] {
      display: inline;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      transform: scale(1.2); }
      form .form-check input[type="checkbox"] + label,
      form .form-check input[type="radio"] + label,
      form .form-radio input[type="checkbox"] + label,
      form .form-radio input[type="radio"] + label {
        display: inline;
        line-height: 20px;
        cursor: pointer; }
  form .error-span {
    display: none; }
  form .error select.form-control,
  form .error input[type="text"].form-control,
  form .error input[type="email"].form-control,
  form .error input[type="tel"].form-control,
  form .error input[type="number"].form-control,
  form .error input[type="password"].form-control,
  form .error textarea.form-control {
    border: 1px solid #e50000; }
  form .error .error-span {
    display: block;
    color: #b70000;
    font-size: 14px; }
  @media (min-width: 960px) {
    form {
      width: 440px;
      margin: 0 auto; }
      form .placeholder {
        display: block; }
      form .form-row textarea::-webkit-input-placeholder, form .form-row input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #b8b8b8; }
      form .form-row textarea::-moz-placeholder, form .form-row input::-moz-placeholder {
        /* Firefox 19+ */
        color: #b8b8b8; }
      form .form-row textarea:-ms-input-placeholder, form .form-row input:-ms-input-placeholder {
        /* IE 10+ */
        color: #b8b8b8; }
      form .form-row textarea:-moz-placeholder, form .form-row input:-moz-placeholder {
        /* Firefox 18- */
        color: #b8b8b8; }
      form .form-check input[type="checkbox"],
      form .form-check input[type="radio"],
      form .form-radio input[type="checkbox"],
      form .form-radio input[type="radio"] {
        transform: scale(1.3);
        margin-top: 0; } }

#header {
  padding: 15px; }
  #header .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.home-link img {
  width: 271px;
  transition: all 250ms; }
  @media (max-width: 576px) {
    .home-link img {
      width: 200px; } }

.slogan-animated {
  margin-top: -5px;
  color: #7a7250; }
  .slogan-animated .top {
    font-size: 2.0em;
    font-weight: bold;
    text-align: right; }
  .slogan-animated P {
    padding: 0; }
  .slogan-animated .bottom {
    font-size: 0.8em; }
  @media (max-width: 576px) {
    .slogan-animated {
      display: none; } }

.navs {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: -10px; }

.navigation {
  text-align: right; }

.nav-social {
  margin: 18px 12px 0 0; }
  .nav-social a {
    background-color: #b8b8b8;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    color: white;
    line-height: 26px;
    text-align: center;
    transition: background 250ms; }
    .nav-social a:hover {
      background-color: #393939; }
  @media (max-width: 576px) {
    .nav-social {
      display: none; } }

#carousel-main {
  margin-bottom: 60px; }
  @media (max-width: 576px) {
    #carousel-main {
      margin-bottom: 20px; } }

.stage {
  height: 334px;
  position: relative;
  transition: background 500ms; }
  @media (max-width: 576px) {
    .stage {
      height: 280px;
      margin-bottom: 20px; } }

.cloak {
  background: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.slide {
  position: relative;
  height: 354px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  transition: background 250ms; }
  @media (max-width: 576px) {
    .slide {
      height: 280px; } }
  .slide > a {
    position: absolute;
    top: 40%;
    width: 18px;
    height: 48px;
    color: white;
    font-size: 3.0em;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    transition: all 250ms;
    z-index: 5;
    overflow: hidden; }
    @media (max-width: 576px) {
      .slide > a {
        top: auto;
        bottom: 50px; } }
    .slide > a:hover {
      color: #b8b8b8; }
    .slide > a.prev {
      left: 15px; }
    .slide > a.next {
      right: 15px;
      text-align: right; }
  .slide .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .slide .content .text {
      display: block;
      color: white;
      font-weight: bold;
      font-size: 3.0em;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.9); }
      @media (max-width: 576px) {
        .slide .content .text {
          font-size: 2.0em; } }
    .slide .content a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.2em;
      padding: 8px 10px;
      background: rgba(0, 0, 0, 0.35);
      border: 1px solid white;
      text-decoration: none;
      color: white;
      border-radius: 2px;
      transition: background 500ms;
      margin: 40px 0 90px 0; }
      .slide .content a:hover {
        background: rgba(0, 0, 0, 0.7); }
      @media (max-width: 576px) {
        .slide .content a {
          margin: 18px 0 120px 0; } }

#carousel-main .items {
  display: none; }

.news-item {
  padding: 0 15px;
  width: 33.33333%; }
  @media (max-width: 576px) {
    .news-item {
      width: 100%; } }

.pod {
  text-align: center; }
  .pod .text {
    padding: 0 15px; }
  .pod a {
    text-decoration: none;
    color: #484c4f;
    display: block; }
  .pod .title {
    text-transform: uppercase;
    color: #19737b; }
  .pod p {
    font-size: 0.8em; }
  .pod img {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px; }

.introduction {
  background: url("../images/bg-introduction.png") bottom center no-repeat #f1f1ed;
  margin: 30px 0;
  padding: 30px 15px 0; }
  @media (max-width: 576px) {
    .introduction {
      padding-bottom: 60px; } }

#carousel-mini, #profile {
  width: 300px;
  min-height: 260px;
  margin: 0 auto; }
  @media (max-width: 576px) {
    #carousel-mini, #profile {
      width: 100%; } }

#carousel-mini {
  position: relative; }
  #carousel-mini .controls {
    position: absolute;
    top: 40%;
    display: inline-block;
    font-size: 2.0em;
    color: #7a7250; }
    #carousel-mini .controls.prev {
      left: 0; }
    #carousel-mini .controls.next {
      right: 0;
      text-align: right; }
  #carousel-mini .slide {
    width: 300px;
    text-align: center; }
    #carousel-mini .slide img {
      margin: 45px 0;
      max-width: 80%; }
      @media (max-width: 576px) {
        #carousel-mini .slide img {
          margin: 20px 0; } }
    #carousel-mini .slide .text {
      font-size: 0.9em;
      padding: 0 40px; }
  #carousel-mini .pagination {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 20px;
    text-align: center; }
    #carousel-mini .pagination span {
      border: 1px solid #7a7250;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 50%;
      display: inline-block;
      transition: background 500ms; }
      #carousel-mini .pagination span.active {
        background: #7a7250; }
    @media (max-width: 576px) {
      #carousel-mini .pagination {
        bottom: 20px; } }

.footer {
  background-color: #353336;
  color: white; }
  .footer a {
    color: white; }
  .footer .nav-footer {
    padding: 15px;
    position: relative; }
    .footer .nav-footer ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      width: 120px; }
    .footer .nav-footer li {
      border-top: 1px solid #4f4c50;
      display: block;
      padding: 8px;
      text-align: center; }
      .footer .nav-footer li:nth-child(1) {
        border: none; }
      .footer .nav-footer li a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        font-size: 0.8em;
        text-align: center; }
    .footer .nav-footer .nav-trigger {
      position: absolute;
      top: 5px;
      right: 10px;
      overflow: hidden; }
